.env
backend/llm_service/.mypy_cache
backend/llm_service/.ruff_cache
backend/llm_service/logs
backend/go/logs
backend/llm_service/app/**/__pycache__/
.idea/
frontend/app/.vscode/
frontend/app/.idea/
frontend/.idea/
backend/go/vendor
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
.vscode/
