.backgroundGradient {
  position: absolute;
  inset: 0;
  background: var(--app-gradient-background);
  opacity: 0.15;
  pointer-events: none;
}

.blob {
  position: absolute;
  border-radius: 9999px;
  mix-blend-mode: multiply;
  filter: blur(80px);
  opacity: 0.4;
  animation: blob 15s infinite ease-in-out;
  pointer-events: none;
  transition: filter 1s ease-in-out;
}

.blob1 {
  width: 28rem;
  height: 28rem;
  top: -5rem;
  left: -5rem;
  background: #ffffff;
  animation-delay: 0s;
}

.blob2 {
  width: 24rem;
  height: 24rem;
  top: 5%;
  right: -3rem;
  background: #ffffff;
  animation-delay: 2s;
}

.blob3 {
  width: 30rem;
  height: 30rem;
  bottom: -8rem;
  left: 10%;
  background: #ffffff;
  animation-delay: 4s;
}

.blob4 {
  width: 26rem;
  height: 26rem;
  top: 40%;
  right: 5%;
  background: #ffffff;
  animation-delay: 6s;
}

.blob5 {
  width: 22rem;
  height: 22rem;
  bottom: 10%;
  right: 15%;
  background: #ffffff;
  animation-delay: 8s;
}

.blob6 {
  width: 20rem;
  height: 20rem;
  top: 20%;
  left: 30%;
  background: #ffffff;
  animation-delay: 10s;
}

.blob7 {
  width: 25rem;
  height: 25rem;
  bottom: 25%;
  left: 40%;
  background: #ffffff;
  animation-delay: 12s;
}

.blob8 {
  width: 23rem;
  height: 23rem;
  top: 60%;
  right: 25%;
  background: #ffffff;
  animation-delay: 14s;
}

.blob9 {
  width: 27rem;
  height: 27rem;
  bottom: 5%;
  right: -5rem;
  background: #ffffff;
  animation-delay: 16s;
}

@keyframes blob {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -30px) scale(1.05);
  }
  50% {
    transform: translate(-15px, 20px) scale(0.95);
  }
  75% {
    transform: translate(25px, 15px) scale(1.02);
  }
}
