.card {
  background-color: var(--card);
  color: var(--card-foreground);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border);
}

.cardHeader {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 0.375rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.cardHeader:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.cardTitle {
  line-height: 1;
}

.cardDescription {
  color: var(--muted-foreground);
}

.cardAction {
  grid-column: 2;
  grid-row: 1 / 3;
  align-self: start;
  justify-self: end;
}

.cardContent {
  padding: 0 1.5rem;
}

.cardContent:last-child {
  padding-bottom: 1.5rem;
}

.cardFooter {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.cardFooter:has(.border-t) {
  padding-top: 1.5rem;
}

