/* Стили для страницы авторизации */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  background: #0f0f0f;
}

.backgroundGradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, #9933ff, #ef3124, #a8ff00);
  opacity: 0.9;
}

.container:hover:not(:has(.content:hover)) .blob {
  filter: blur(8px);
}

.blob {
  position: absolute;
  border-radius: 9999px;
  mix-blend-mode: multiply;
  filter: blur(30px);
  opacity: 0.7;
  animation: blob 15s infinite ease-in-out;
  transition: filter 1s ease-in-out;
}

.blob1 {
  width: 28rem;
  height: 28rem;
  top: -5rem;
  left: -5rem;
  background: #a8ff00;
  animation-delay: 0s;
}

.blob2 {
  width: 24rem;
  height: 24rem;
  top: 5%;
  right: -3rem;
  background: #9933ff;
  animation-delay: 2s;
}

.blob3 {
  width: 30rem;
  height: 30rem;
  bottom: -8rem;
  left: -8rem;
  background: #ef3124;
  animation-delay: 4s;
}

.blob4 {
  width: 18rem;
  height: 18rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #9933ff;
  animation-delay: 1s;
}

.blob5 {
  width: 22rem;
  height: 22rem;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%);
  background: #a8ff00;
  animation-delay: 3s;
}

.blob6 {
  width: 16rem;
  height: 16rem;
  bottom: 10%;
  right: -3rem;
  background: #ef3124;
  animation-delay: 5s;
}

.blob7 {
  width: 20rem;
  height: 20rem;
  top: 20%;
  right: 10%;
  background: #9933ff;
  animation-delay: 1.5s;
}

.blob8 {
  width: 14rem;
  height: 14rem;
  bottom: 20%;
  left: 15%;
  background: #a8ff00;
  animation-delay: 3.5s;
}

.blob9 {
  width: 12rem;
  height: 12rem;
  top: 70%;
  right: 20%;
  background: #ef3124;
  animation-delay: 5.5s;
}

.content {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 28rem;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(80px, -80px) scale(1.2);
  }
  50% {
    transform: translate(-60px, 60px) scale(0.8);
  }
  75% {
    transform: translate(40px, 40px) scale(1.1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

